.contactBar{
    /* Contents */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /* Style */
    width: 100%;
}

.contIcon{
    transition: 300ms color;
}
.contIcon:hover{
    color:var(--accDark);
    cursor: var(--staff);
}