.meCard{
    position: sticky;
    top: 0;
    height: fit-content;
    width: 300px;

    padding:0 20px 0 20px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.wuSprite{
    width: 11rem;
    filter: drop-shadow(5px 2px 4px rgba(0, 0, 0, 0));
    transition: 300ms filter;
}

.wuSprite:hover{
    filter: drop-shadow(5px 2px 4px rgba(0, 0, 0, 0.5));
}

.wuSpriteCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.theStack{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}