.ContactBarCont{
    width: 80vw;

    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    bottom: 0.75rem;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid var(--accDark);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    height: 2.5rem;
    background-color: var(--bg);
}

.rightBar{
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    overflow: hidden;
    cursor: var(--staff);

    transition: height 300ms, color 300ms;
}

.rightBar:hover{
    color:var(--accDark);
}