
.projCard{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    transition: 300ms;
}

.projImage{
    width: fit-content;
}

.projImage img{
    border: solid 2px var(--accDark);
    max-width: 200px;
    min-width: 130px;
}

.projDesc{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    height: 100%;
}
.projDesc .projP{
    overflow-y: auto;
    max-height: 200px;
}

.projTitle{
    transition: 300ms;
}

.icon{
    display: inline-block;
    transform: translate(0px, 0px);
    transition: 300ms;
}

.projCard:hover .projTitle{
    color: var(--accDark);
}


.projCard:hover .icon{
    transform: translate(3px, -3px);
}


.projCardCont{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tagCont{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.projTagWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(142, 22, 22, 0.2);
    border-radius: 20px;
}

.projCardWrap{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.ratingIcon{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}