
*{
	margin: 0;
	padding: 0;
}

button{
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
}

:root {
	--bg: #1D1616;
	--text: #EEEEEE;
	--accText: rgba(238, 238, 238, 0.55);
	--accDark: #8E1616;
	--accLight: #D84040;
}

.dark {
	--bg: black;
	--text: white;
}

body{
	background-color: var(--bg);
	color: var(--text);
	border-color: var(--accDark);
}

p{
	color:var(--accText);
}

span{
	color: var(--text);
}

section{
	display: flex;
	align-items: center;
	flex-direction: column;
}