
*{
	margin: 0;
	padding: 0;
}

button{
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
}

:root {
	--bg: rgba(29, 22, 22, 1);
	--text: #EEEEEE;
	--accText: rgba(238, 238, 238, 0.55);
	--accDark: #8E1616;
	--accLight: rgba(255, 215, 0, 0.25);
	--staff: url("../src/assets/staff.png"), auto;
}

.dark {
	--bg: black;
	--text: white;
}

body{
	background-color: var(--bg);
	color: var(--text);
	border-color: var(--accDark);
}

p{
	color:var(--accText);
}

span{
	color: var(--text);
}

section{
	display: flex;
	align-items: center;
	flex-direction: column;
}
